---
- name: Install default packages
  become: True
  apt: name={{item}} state=latest
  with_items:
    - apt-transport-https
    - aptitude
    - asunder #music CD ripper
    - autofs
    #- bombono-dvd #DVD creator - no longer maintained, see `devede`
    - build-essential
    - chrome-gnome-shell
    #- compton #compositing manager for lightweight desktops like openbox, xfce, etc.
    - cscope
    - curl
    - ddcutil # Query and change monitor settings
    - devede
    - dkms
    - exuberant-ctags
    - flameshot
    #- gconf-editor #no longer available
    - gimp
    - gnome-tweak-tool
    - jq
    #- keepassx
    - lame #needed to asunder to rip to mp3
    #- libc6:i386 #no longer available
    - libfuse2t64 #needed by AppImage
    - libnss3-tools #work with certificates - certutil
    - libreoffice
    #- libstdc++6:i386 #no longer available
    - libxml2-dev
    - libyaml-dev #needed for ruby `psych` gem
    - mercurial
    - mesa-utils #glxinfo, etc.
    - mplayer #mplayer2 is dead, maybe replace with mpv?
    - net-tools
    - nmap
    - ntp
    - openssh-client
    - openssh-server
    - p7zip-full
    - pavucontrol #PulseAudio Volume Control
    - picard #rename/tag mp3 files based on online signatures
    - pkgconf
    - pwgen
    #- python-pip #already installed
    - rdesktop
    - redis-server
    - ripgrep
    - screen
    - silversearcher-ag #faster grep
    - software-properties-common
    - solaar #manage Logitech wireless devices
    - ssvnc
    - tofrodos
    - traceroute
    - tree
    - unzip
    - vlc
    - wget
    - whois
    - x11vnc
    - xdotool
    - xmlsec1
    - xtightvncviewer
    - zbar-tools # Read MFA QR codes from CLI: `zbarimg AWS_MFA.png`
    #also need https://git.lekensteyn.nl/ltunify/
    #also included at some point but no longer use
    #- clipit #view clipboard history
    #- compiz-plugins-extra #original alt-tab application switcher

- stat: path=/usr/local/bin/aws
  register: awscli

- name: Install awscli
  become: True
  when: not awscli.stat.exists
  shell: |
    cd /tmp
    curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
    unzip awscliv2.zip
    ./aws/install
    rm -rf aws awscliv2.zip

#- name: Install pip packages
#  become: True
#  pip: name={{item}} state=latest
#  with_items:
#    - awscli
#    - awslogs
#    - virtualenv
