---
- name: Install default packages
  become: True
  apt: name={{item}} state=latest
  with_items:
    - apt-transport-https
    - asunder #music CD ripper
    - autofs
    - build-essential
    - aptitude
    #- compton #compositing manager for lightweight desktops like openbox, xfce, etc.
    - cscope
    - curl
    - exuberant-ctags
    - gimp
    - indicator-multiload
    - keepass2
    - libc6:i386
    - libreoffice
    - libstdc++6:i386
    - mercurial
    - mplayer #mplayer2 is dead, maybe replace with mpv?
    - ntp
    - openssh-client
    - openssh-server
    - picard #rename/tag mp3 files based on online signatures
    - python-pip
    - rdesktop
    - redis-server
    - screen
    - silversearcher-ag #faster grep
    - software-properties-common
    - ssvnc
    - tofrodos
    - traceroute
    - whois
    - unzip
    - p7zip-full
    - wget
    - x11vnc
    - xdotool
    - xtightvncviewer
    - bombono-dvd #DVD creator
    - pavucontrol #PulseAudio Volume Control
    #also need https://git.lekensteyn.nl/ltunify/
    #also included at some point but no longer use
    #- clipit #view clipboard history
    #- compiz-plugins-extra #original alt-tab application switcher
